<!DOCTYPE html>
<html lang="en">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MEL170VR96"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MEL170VR96');
</script>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    
    <!-- Link to Stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">

  <!-- MailerLite Universal -->
  <script>
      (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
      .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
      n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
      (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
      ml('account', '1379057');
  </script>
  <!-- End MailerLite Universal -->
</head>
<body>

<nav>
    <img src="{{ '/assets/logo.svg' | relative_url }}" alt="Neural Code Labs Logo" style="height: 70px;">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>

<main>
    {{ content }}
</main>

<footer>
    <p>© <span id="year"></span> Neural Code Labs | AI Consulting</p>
    <p>Follow us:</p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/company/neuralcodelabs" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://twitter.com/neuralcodelabs" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" alt="X (formerly Twitter)" class="social-icon">
        </a>
        <a href="https://www.facebook.com/neuralcodelabs/" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook" class="social-icon">
        </a>
    </div>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>

